.footer {
  background: #e0e0e0 url('/assets/img/footer_bg.jpg') no-repeat center;
  .footer--wrap{
    padding: 35px 0;
  }
  .footer--slogan{
    color:#323232;
    text-transform: uppercase;
    font:300 9px/1.6 'open_sanssemibold', Helvetica, Arial;
    text-align: right;
    padding: 15px 76px 0 0;
    a {
      color:#6a6a6a;
      text-decoration: none;
    }
  }

  .footer--nav{
    ul{
      margin:19px 0 0;
      border-bottom: 1px solid #898989;
      padding: 0 0 10px;
      .active a{
        color:#6a6a6a;
        text-decoration: none;
      }
      li{
        float:left;
        display: block;
        a{
          padding: 5px 13px;
          color:#a50f0f;
          text-decoration: underline;
          font:300 12px/1.6 'open_sanssemibold', Helvetica, Arial;
          text-transform: uppercase;
          &:hover {
           text-decoration: none;
          }
        }
      }
    }
  }

  .footer--copyright{
    margin: 34px 0 0;
    color: #515151;
    font-family: 'open_sansregular';
    a{
      color: #515151;
      text-decoration: underline;
    }
  }

  .footer--text{
    font-size: 9px;
    margin: 22px 0 0;
  }
  .footer--socials{
    margin: 22px 0 0;
  }
}
