.header {
  .top{
    margin: 18px 0;
  }
  .search{
    width:160px;
    float:left;
    margin:-6px 0 0 100px;
    .label-search{
      color:$dark-grey;
      text-transform: uppercase;
      font:300 9px/1.6 'open_sanssemibold', Helvetica, Arial;
      padding: 0 0 0 11px;
    }
    .input-group{
      @include gradient(#ffcc00, #ff9900);
      @include rounded_corners(10px);
      .search{
        border:none;
        margin: 2px 0 2px 2px;
        padding: 0px 10px;
        /*rewrite to mixin*/
        -moz-border-radius:10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;
        -webkit-box-shadow:inset 0 1px 5px 0 rgba(0,0,0,0.2);
          box-shadow:inset 0 1px 5px 0 rgba(0,0,0,0.2);
      }
    }
  }
}

.logo {
  width: 220px;
  float:left;
  border-right: 1px solid #cdcdcd;
}

.slogan{
  padding: 0 0 0 22px;
  display: inline-block;
  p{
    padding:8px 0 0;
    color: $light-grey;
  }
}

.phone{
    font-size: 26px;
    float: right;
    padding: 13px 0;
    width: 200px;
    line-height: 37px;
    color:#ffcc00;
    font-family:'pf_handbook_proregular';
    p{
      margin-top: -8px;
    }
}


.nav_wrap{
  background: $bg-grey;
  -webkit-box-shadow:inset 0 1px 20px 0 rgba(0,0,0,0.2);
  box-shadow:inset 0 1px 20px 0 rgba(0,0,0,0.2);
  padding: 24px;
  ul{
    margin:0;
    padding: 0;
    li:nth-child(2n).active{
      @include gradient(#ffcc00, #ff9900);
    }
    .active.loggedin{
      font-size: 26px;
      padding: 15px 14px 14px;
      line-height: 26px;
    }
    .active{
        @include gradient(#ffcc00, #ff9900);
      }
    li{
      display: block;
      float: left;

      @include gradient(#767676, #505050);
      a{
        padding: 9px 31px 17px;
        color:$white;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family:'pf_handbook_promedium';
        font-size: 20px;
      }
      &:nth-child(2n) {
        @include gradient(#838383, #585858);
      }
    }
  }
  .loginform{
    float: right;
  }
}