.main {
  margin: 0 0 170px;
  .page_title{
    font-family:'pf_handbook_promedium';
    color: $grey;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 10px 0 5px;
    .text-normal{
      text-transform: none;
    }
  }

  .searchbar{
    margin: 25px 0;
    .search{
      padding: 0 15px 0 0;
      float:left;
      .label-search{
        color:$dark-grey;
        text-transform: uppercase;
        font:300 9px/1.6 'open_sanssemibold', Helvetica, Arial;
        font-family:'open_sanssemibold';
        padding: 0 0 0 11px;
      }
      .input-group{
        @include gradient(#ffcc00, #ff9900);
        @include rounded_corners(20px);
        .search{
          width: 100%;
          border:none;
          margin: 2px 0 2px 2px;
          padding: 6px 24px;
          /*rewrite to mixin*/
          -moz-border-radius:20px 0 0 20px;
          -webkit-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px;
          -webkit-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
          box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
        }
      }
    }
  }

  .mainslider{
    margin: 0 0 45px;
    .slider_wrap{
      padding: 0;
    }
    .nav-slider>li:nth-child(2n).active{
      @include gradient(#ffcc00, #ff9900);
    }
    .nav-slider>li.active{
      @include gradient(#ffcc00, #ff9900);
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 8px 10px 0 10px;
        border-color: #ff9900 transparent transparent transparent;
      }
    }
    .nav-slider>li{
      z-index: 5;
      float: left;
      @include gradient(#767676, #505050);
      a{
        padding: 9px 0 18px;
        text-align: center;
        text-transform: uppercase;
        font-family:'pf_handbook_promedium';
        font-size: 20px;
        color:#fff;
        background: none;
        border:none;
      }
      &:nth-child(2n) {
        @include gradient(#838383, #585858);
      }

    }
    .tab-pane{
      height:348px;
      overflow: hidden;
    }
  }

  .legendbar{
    padding: 18px 0;
    background: #f4f4f4;
    height: 407px;
    border-left: 6px solid #ffcc00;
    h2{
      text-transform: uppercase;
      padding: 0 0 0 38px;
      font-size: 19px;
      color:#5a5a5a;
      font-family:'open_sanssemibold';
    }
    ul{
      li{
        list-style: none;
        text-transform: uppercase;
        line-height: 19px;
        font-size: 14px;
        padding: 10px 0;
        color:$grey;
      }
    }
  }

  .slideset{
    margin: 30px 0;
  }
  .slideset--left{
    left: -7%;
  }
  .slideset--right {
    left: auto;
    right: -7%;
  }
  .carousel-control{
    width: 5% !important;
  }
  .slideitem--popup{
    z-index: 35;
    padding:0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    .slideitem--wrap h3{
      .worktime--popup{
        float: right;
        margin-top: -8px;
      }
    }
  }
  .slideitem{
    .slideitem--wrap{
      background: #fff;
      border: 2px solid #e6e6e6;
      border-bottom: none;
      padding: 10px;
      h3{
        font-family: 'open_sansregular';
        text-transform: uppercase;
        color:#7b7b7b;
        font-size: 16px;
        margin: 0 0 10px;
        line-height: 24px;
        span{
          font-family:'open_sansbold';
        }
      }
      .rating{
        background: url('/assets/img/icons/stars.png') no-repeat left;
        height: 12px;
        margin: 5px 0 10px;
      }
      .worktime{
        border: 2px solid #ffcc00;
        display: inline-block;
        margin: 5px 0 10px;
        p{
          padding: 5px;
          margin: 0;
          color: #ff9c00;
        }
      }
    }
    .read-more{
      display: block;
      @include gradient(#ffcc00, #ff9900);
      padding: 9px 0 22px;
      text-align: center;
      font-family:'pf_handbook_promedium';
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 26px;
    }
  }
}

