body { overflow-x: hidden;}
.header{
  .mobile-top{
    .bordered_logo{
      background: url('/assets/img/mobile/logo-border.png') no-repeat right;
      .logo{
        text-align: center;
        margin: 1.5em 0;

        a{
          img {
            width: 100%;
            max-height: 75px;
            max-width: 250px;
          }
        }
      }
    }

  }
}

.mobile-search{
  margin: 0.4em 0;
  .label-search{
        color:$dark-grey;
        text-transform: uppercase;
        font:300 0.7em/1.6 'open_sanssemibold', Helvetica, Arial;
        font-family:'open_sanssemibold';
        padding-left: 2.8em;
      }
  .input-group{
    @include gradient(#ffcc00, #ff9900);
    @include rounded_corners(20px);
    .search{
      width: 100%;
      border:none;
      margin: 2px 0 2px 2px;
      padding: 6px 24px;
      /*rewrite to mixin*/
      -moz-border-radius:20px 0 0 20px;
      -webkit-border-radius: 20px 0 0 20px;
      border-radius: 20px 0 0 20px;
      -webkit-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
      box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
    }
    .input-group-btn{
      .btn-search{
        border:none;
        height: 34px;
      }
    }
  }
}

.mobile--nav_wrap{
  ul{
    margin:0;
    padding: 0;
    li:nth-child(2n).active{
      @include gradient(#ffcc00, #ff9900);
    }
    li:nth-child(2n).btn_sos{
      @include gradient(#d90000, #990000);
    }
    .active{
        @include gradient(#ffcc00, #ff9900);
      }
    .btn_sos{
        @include gradient(#d90000, #990000);
      }
    li{
      display: block;
      float: left;
      width: 25%;
      @include gradient(#767676, #505050);
      a{
        padding: 0.5em 0 1em;
        color:$white;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family:'pf_handbook_promedium';
      }
      &:nth-child(2n) {
        @include gradient(#838383, #585858);
      }
    }
  }
  .loginform{
    float: right;
  }
}

.mobile-searchbar{
    margin: 0 !important;
    .mobile-searchbar--bg{
      padding: 2em 0;
      background: #f0f0f0;
     .search{
        float:left;
        .input-group{
          @include gradient(#ffcc00, #ff9900);
          @include rounded_corners(20px);
          .search{
            width: 100%;
            border:none;
            margin: 2px 0 2px 2px;
            padding: 6px 24px;
            /*rewrite to mixin*/
            -moz-border-radius:20px 0 0 20px;
            -webkit-border-radius: 20px 0 0 20px;
            border-radius: 20px 0 0 20px;
            -webkit-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
            box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.2);
          }
        }
      }
    }
  }

  .mobile-slider{
    /*border-top: .2em solid #bbb;
    -webkit-box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.1);*/
    .tab-content{
      overflow: hidden;
      /*.tab-pane{
        height: 20em;
      }*/
    }
    .nav-slider{
      border-bottom: 0.5em solid #ff9900;
    }
    .nav-slider>li:nth-child(2n).active{
      @include gradient(#ffcc00, #ff9900);
    }
    .nav-slider>li.active{
      @include gradient(#ffcc00, #ff9900);
    }
    .nav-slider>li{
      z-index: 5;
      float: left;
      @include gradient(#767676, #505050);
      a{
        padding: 0.5em 0 1em;
        text-align: center;
        text-transform: uppercase;
        font-family:'pf_handbook_promedium';
        color:#fff;
        background: none;
        border:none;
        &:hover {
          background: none;
        }
      }
      &:nth-child(2n) {
        @include gradient(#838383, #585858);
      }

    }
  }
  .slideitem--mobile{
    padding: 0 !important;
  }
    .slideitem{
    .slideitem--wrap{
      background: #fff;
      padding: 1em 0;
      h3{
        font-family: 'open_sansregular';
        text-transform: uppercase;
        color:#7b7b7b;
        font-size: 1em;
        margin: 0 0 10px;
        line-height: 0;
        span{
          font-family:'open_sansbold';
        }
      }
      .rating{
        background: url('/assets/img/icons/stars.png') no-repeat left;
        height: 12px;
        margin: 5px 0 10px;
      }
      .worktime{
        border: 2px solid #ffcc00;
        display: inline-block;
        margin: -1px 15px 10px;
        padding: 0.5em;
        p{
          padding: 5px;
          margin: 0;
          color: #ff9c00;
        }
      }
    }
    .read-more{
      display: block;
      @include gradient(#ffcc00, #ff9900);
      padding: 9px 0 22px;
      text-align: center;
      font-family:'pf_handbook_promedium';
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 26px;
    }
  }

  .mobile-about{
    padding: 1em 0 2em;
    background: #f0f0f0;
    p{
      .orange{
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .orange{
    color:#ff9900;
  }

  .footer{
    background: #565656;
    position: relative;
    .login--wrap{
      position: absolute;
      top: -10%;
      width: 100%;
    }
    .mobile-footer--wrap{
      padding: 3em 1em 1em;
    }
  }

  .phone{
    color:#fff;
    font-weight: bold;
    p{
      line-height: 1.2em;
    }
  }

  .mobile-copyrights{
    color: #a3a3a3;
    a{
      color: #a3a3a3;
      text-decoration: underline;
      &:hover{
        color: #a3a3a3;
      }
    }
  }



@media screen and (orientation:landscape) {
  .mobile-search{ margin: 1.4em 0 !important;}
  .page_title{text-align: center;}
  .text-input{width: 99% !important;}

}

@media screen and (orientation:portrait) {
  .login--wrap{
    .mobile--nav_wrap{
      .nav ul li a {
        font-size: 0.8em;
        padding: 1em 0 1.5em;
      }
    }
  }
   .nav-slider>li{
      a{
        font-size: 0.7em;
        padding: 1em 0 1.5em !important;
      }
    }
    .widget--selectLabel{font-size: 0.7em;}
    .text-input{width: 97% !important;}
}

@media (max-device-width: 320px) and (orientation: portrait) {
  .nav-slider > li a {
    font-size: 0.4em;
  }
  .mobile--nav_wrap ul li a {
    font-size: 0.4em;
  }
  .login--wrap .mobile--nav_wrap .nav ul li a{
    font-size: 0.4em;
  }
  .footer .login--wrap{
    top: -5%;
  }
}

.widget-mobile{
  margin-top: 2em !important;
}
.widget{
  margin: 5px 0 0;
  position: relative;
  .widget--overlay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .addcar_overlay{
    background: rgba(255, 255, 255, 0.4) url('/assets/img/ui/add_cross.png') no-repeat center;
  }
  .widget--title{
    @include gradient(#767676, #505050);
    font-size: 17px;
    color:$white;
    font-family:'pf_handbook_promedium';
    text-align: center;
    padding: 5px 0 14px;
    margin: 0;
    text-transform: uppercase;
  }
  .widget--body_textarea{
      textarea{
        @include rounded_corners(3px);
        resize: none;
        border:2px solid #ffcc00;
        color: $grey;
        -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
      box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
      }
  }
  .widget--body{
    background: #f1f1f1;
    border: 2px solid #dedede;
    border-top:none;
    padding: 15px;
    /*.widget--selectLabel{
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      padding:10px 2px 1px;
      font-family: 'pf_handbook_proregular';
    }*/
    .select-gradient--wrap{
      @include gradient(#ffcc00, #ff9900);
      @include rounded_corners(10px);
      .widget--select{
        @include rounded_corners(10px);
        margin: 2px;
        border:none;
        width: 98.4%;
        padding: 2px 10px;
      }
    }
  }
}

.label-input{
  padding: 1em 0 0;
  text-transform: uppercase;
  color:#737373;
  font-family: 'pf_handbook_proregular';
  font-size: 1em;
  line-height: 1em;
}
.gradient-input{
  @include gradient(#ffcc00, #ff9900);
  @include rounded_corners(10px);
  position: relative;
  .text-input{
    @include rounded_corners(10px);
    margin: 2px;
    border:none;
    padding: 2px 10px;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);

  }
}

.input-arrow{
    &:after{
    content: '';
    background: url("/assets/img/ui/input-arrow.png") no-repeat center;
    width: 16px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px;
  }
}

.orders--add{
  margin-bottom: 1em;
  div{
    div{
      margin-top: 1em;
        ul{
        margin:0;
        padding: 0;
        li:nth-child(2n).active{
          @include gradient(#ffcc00, #ff9900);
        }
        .active.addorder{
          padding: 1em;
          line-height: 1em;
          text-align: center;
        }
        .active{
            @include gradient(#ffcc00, #ff9900);
          }
        li{
          display: block;
          float: left;

          @include gradient(#767676, #505050);
          a{
            padding: 0.6em 1em 1em;
            color:$white;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-family:'pf_handbook_promedium';
          }
          &:nth-child(2n) {
            @include gradient(#838383, #585858);
          }
        }
      }
    }
  }

}

.page_title{
  font-family:'pf_handbook_promedium';
  color: $grey;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 10px 0 5px;
  .text-normal{
    text-transform: none;
  }
}

.text-left{
  text-align: left !important;
  padding-left: 1em !important;
}

.mobile-status{
  margin-top: 1em;
  .mobile-status--label{
    p{
      font-family:'pf_handbook_promedium';
      color: $grey;
      text-transform: uppercase;
      font-size: 1.3em;
      line-height: 1em;
    }
  }
}

.mobile-registration{
  margin-bottom: 1em;
}

.widget-register{
  margin-bottom: 1em;
}

.stat-item{
  margin: 10px 0 5px;
  div{
    .stat-item--img{
      img{width: 100%;} //remove on production
      .gradient-border{
        display: block;
        width: 100%;
        height: 7px;
        @include gradient(#ffcc00, #ff9900);
      }
    }
    .stat-item--descr{
      border: 2px solid #e6e6e6;
      div{
        .name--descr{
          background: $white;
          padding: 15px;
          h3{
          font-family: 'open_sansregular';
          text-transform: uppercase;
          color:#7b7b7b;
          font-size: 1em;
          margin: 0 0 10px;
          line-height: 24px;
          span{
            font-family:'open_sansbold';
          }
        }
        .rating{
          background: url('/assets/img/icons/stars.png') no-repeat left;
          height: 12px;
          margin: 5px 0 10px;
        }
        .worktime{
          border: 2px solid #ffcc00;
          display: inline-block;
          margin: 5px 0 10px;
          p{
            padding: 5px;
            margin: 0;
            color: #ff9c00;
          }
        }
        }
        .text--descr{
          padding: 14px;
          background: #f6f6f6;
        }
      }
    }

  }

}

.paging{
  .pagination{
    li a{
      font-weight: bold;
      border: 1px solid #d4d4d4;
      margin: 5px;
      background: $white;
      color: #9c9c9c;
      &:hover{
        color: $white;
        background: #898989;
        border:1px solid #898989;
      }
    }
    li:first-child>a{
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
    li:last-child>a {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    }
    .active--page a{
      background: #ffd200;
      color: $white;
      font-weight: bold;
      border:1px solid #ffd200;
    }
  }
}

.timelist--wrap{
  padding: 15px 0;
  width: 220px;
  margin: 0 auto;
  input{
    display: none;
  }
  input[type="radio"] + label{
    cursor: pointer;
    width: 28%;
    font-size: 12px;
    line-height: 14px;
    .timelist_check{
      display: block;
      float: left;
      -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
      box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
      margin-right: 10px;
      background: #fff;
      @include rounded_corners(50%);
      width: 15px;
      height: 15px;
      border: 2px solid #ffcc00;
    }
  }
  input[type="radio"]:checked + label{
    .timelist_check{
      -webkit-box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      background: #fff url('/assets/img/ui/check_dot.png') no-repeat center;
    }
  }
  input[type="radio"]:disabled + label{
    color: #d9d8d8;
    .timelist_check{
      -webkit-box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      border: 2px solid #d9d8d8;
    }
  }
}
.datepicker-inline {
margin: 0 auto;
}
.mobile-datepicker{
  margin: 1em 0;
}

.additional_options{
  .additional_options--checkbox{
    &:nth-child(2n) {
       background: $white;
    }
    background: #f1f1f1;
    border: 2px solid #dedede;
    border-top: none;
    padding: 5px 20px 0px;
    cursor: pointer;
    .chkb_input-label{
      font-family: 'open_sansregular';
      text-transform: uppercase;
      cursor: pointer;
      color: #9a9a9a;
      font-size: 12px;
    }
  }
}
.widget--advanced{
  margin-bottom: 1em;
}
.widget-margin{
  margin-bottom: 1em;
  margin-top: 1em;
}
.chkb_input{
  display: none;
}
.additional_options--checkbox input[type="radio"] + label .checkbox_check,
.additional_options--checkbox input[type="checkbox"] + label .checkbox_check {
  display: block;
  float: left;
  margin-top: 3px;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  background: #fff;
  @include rounded_corners(5px);
  width: 15px;
  height: 15px;
  border: 2px solid #ffcc00;
}

.widget--selectLabel{
      font-size: 1em;
      text-transform: uppercase;
      cursor: pointer;
      padding:1em 0.3em 0.1em;
      font-family: 'pf_handbook_proregular';
}

.additional_options--checkbox input[type="radio"]:checked + label .checkbox_check,
.additional_options--checkbox input[type="checkbox"]:checked + label .checkbox_check  {
-webkit-box-shadow: inset 0 0 0px 0 rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0px 0 rgba(0, 0, 0, 0);
background: white url("/assets/img/ui/check_dot.png") no-repeat center;
}
.widget--textseparator{
  text-align: center;
  margin: 15px 0;
  font-family: 'pf_handbook_proregular';
  text-transform: uppercase;
  font-size: 17px;
}
.orderform--price{
    .price--label{
      font-size: 24px;
      color: #9a9a9a;
    }
    .price--int{
      font-size: 30px;
      color: #f7ca00;
    }
  }
  .orderform--price span{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
  }

  .sucess_message{
  text-align: center;
  margin: 30px 0 0;
  p{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 20px;
  }
}

.sucess-bill{
  text-align: center;
  .sucess-bill--text{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 15px;
  }
  .sucess-bill--pay{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#ffcc00;
    font-size: 35px;
    line-height: 10px;
  }
}
.sucess_txt{
  text-align: center;
  margin: 30px 0 10px;
  p{
    display: inline-block;
    border: 2px solid #ffcc00;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color: #ffcc00;
  }
}

.unauth_comment{
  text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 14px;
    text-align: center;
}