body.modal-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}
.modalLogin-body{
  padding: 40px;
  text-align: right;
}

.modalLogin-footer{
  @include gradient(#767676, #505050);
  text-align: center;
}
.modalLogin-close{
  background: url("/assets/img/modal-close.png") no-repeat center;
  width: 39px;
  height: 39px;
  border: none;
  position: absolute;
  top: -18px;
  right: -18px;
  z-index: 15;
}
.lostpass{
  margin-right: 50px;
  color:#ffcc00;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'pf_handbook_proregular';
  &:hover{
    color:#ff9900;
  }
}
.modal-dialog.modal-Login {
width: 450px;
}
.label-group{
  margin: 10px 30px;
}
.label-input{
  float: left;
  margin-right: 30px;
  min-width: 60px;
  text-transform: uppercase;
  color:#737373;
  font-family: 'pf_handbook_proregular';
  font-size: 18px;
line-height: 30px;
}
.gradient-input{
  @include gradient(#ffcc00, #ff9900);
  @include rounded_corners(10px);
  position: relative;
  .text-input{
    @include rounded_corners(10px);
    margin: 2px;
    border:none;
    padding: 2px 10px;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);

  }
}
.sucess--gradient-input{
  @include gradient(#66cb66, #339933);
  @include rounded_corners(10px);
  position: relative;
  .text-input{
    @include rounded_corners(10px);
    margin: 2px;
    border:none;
    padding: 2px 10px;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);

  }
}
.denied--gradient-input{
  @include gradient(#ff1a00, #cd0000);
  @include rounded_corners(10px);
  position: relative;
  .text-input{
    @include rounded_corners(10px);
    margin: 2px;
    border:none;
    padding: 2px 10px;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);

  }
}

.input-arrow{
    &:after{
    content: '';
    background: url("/assets/img/ui/input-arrow.png") no-repeat center;
    width: 16px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px;
  }
}

.input-arrow.arrow-green{
  &:after{
    background: url("/assets/img/ui/input-arrow--green.png") no-repeat center;
  }
}

.input-arrow.arrow-red{
  &:after{
    background: url("/assets/img/ui/input-arrow--red.png") no-repeat center;
  }
}

.border--wrap{
  @include gradient(#ffcc00, #ff9900);
  padding: 2px;
  margin: 15px 0;
  @include rounded_corners(3px);
  textarea{
    @include rounded_corners(3px);
    resize: none;
    border:none;
    color: $grey;
  }
}

.reservation--wrap>div, .profile--wrap>div{
  margin-top: 40px;
}
.timelist--wrap{
  padding: 15px 0;
  input{
    display: none;
  }
  input[type="radio"] + label{
    cursor: pointer;
    width: 28%;
    font-size: 12px;
    line-height: 14px;
    .timelist_check{
      display: block;
      float: left;
      -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
      box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.1);
      margin-right: 10px;
      background: #fff;
      @include rounded_corners(50%);
      width: 15px;
      height: 15px;
      border: 2px solid #ffcc00;
    }
  }
  input[type="radio"]:checked + label{
    .timelist_check{
      -webkit-box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      background: #fff url('/assets/img/ui/check_dot.png') no-repeat center;
    }
  }
  input[type="radio"]:disabled + label{
    color: #d9d8d8;
    .timelist_check{
      -webkit-box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      box-shadow:inset 0 0 0px 0 rgba(0,0,0,0.0);
      border: 2px solid #d9d8d8;
    }
  }
}

.form--wrap{
  background: #f1f1f1;
  .form--title{
    font-family:'pf_handbook_promedium';
    color: $grey;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 10px 0 5px;
  }

}

/*porfile edit*/
.inputfix{
  padding-right: 4px !important;
}
.acceptfix{
  margin-left: 22%;
}

.widget{
  margin: 5px 0 0;
  position: relative;
  .widget--overlay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .addcar_overlay{
    background: rgba(255, 255, 255, 0.4) url('/assets/img/ui/add_cross.png') no-repeat center;
  }
  .widget--title{
    @include gradient(#767676, #505050);
    font-size: 17px;
    color:$white;
    font-family:'pf_handbook_promedium';
    text-align: center;
    padding: 5px 0 14px;
    margin: 0;
    text-transform: uppercase;
  }
  .widget--body_textarea{
      textarea{
        @include rounded_corners(3px);
        resize: none;
        border:2px solid #ffcc00;
        color: $grey;
        -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
      box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
      }
  }
  .widget--body{
    background: #f1f1f1;
    border: 2px solid #dedede;
    border-top:none;
    padding: 15px;
    /*.widget--selectLabel{
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      padding:10px 2px 1px;
      font-family: 'pf_handbook_proregular';
    }*/
    .select-gradient--wrap{
      @include gradient(#ffcc00, #ff9900);
      @include rounded_corners(10px);
      .widget--select{
        @include rounded_corners(10px);
        margin: 2px;
        border:none;
        width: 98.4%;
        padding: 2px 10px;
      }
    }
  }
}
.widget--textseparator{
  text-align: center;
  margin: 15px 0;
  font-family: 'pf_handbook_proregular';
  text-transform: uppercase;
  font-size: 17px;
}
.about--wrap p {
  color: $grey;
}
.orange_hr{
  border-top: 2px solid #ffb200;
}
.quote_decorated{
  border-left:none;
  padding: 10px 60px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background:url('/assets/img/ui/b_quote.png') no-repeat center;
    top:24px;
    left: 20px;
    width: 23px;
    height: 17px;
  }
  &:after{
    content: '';
    position: absolute;
    background:url('/assets/img/ui/b_quote_right.png') no-repeat center;
    bottom:10px;
    right: 20px;
    width: 23px;
    height: 17px;
  }
  p{
    color:#ffcc00;
    font-family:'pf_handbook_promedium';
    text-transform: uppercase;
  }
}
.video--wrap{
  margin-top:30px;
}
.img-wrap{
  margin-bottom: 30px;
}
.widget--selectLabel{
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      padding:10px 2px 1px;
      font-family: 'pf_handbook_proregular';
    }
.video_placeholder--group>div{
  padding: 0;
  margin: 10px 0;
  a img{
    padding: 0;
  }
}
.video_placeholder--group{
  .video_placeholder--wrap a img{
    padding-right: 4px;
  }
}

.floating_text_fix{
  padding-left: 15px;
  padding-right: 15px;
}
.floatingtext_fix_div{
  padding-left: 0 !important;
}

.overlay--white{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(251, 251, 251, 0.4);
}

.order--wrap{
  .order--breadcrumbs{
    margin: 20px 0;
    .breadcrumb--active{
      background: #fff5e0 !important;
      color: #c49738 !important;
      &:after{
        border-color: transparent transparent transparent #fff5e0 !important;
      }
    }
    .breadcrumb{
      -webkit-border-radius: 25px 0 0 25px;
      border-radius: 25px 0 0 25px;
      background: #f5f5f4;
      position: relative;
      text-transform: uppercase;
      font-family: 'pf_handbook_proregular';
      font-size: 18px;
      text-align: center;
      color: #c0c0c0;
      -webkit-box-shadow:inset 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow:inset 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 0px;
        height: 0px;
        z-index: 5;
        border-style: solid;
        border-width: 22px 0 22px 9px;
        border-color: transparent transparent transparent #f5f5f4;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 10px;
        height: 36px;
        z-index: 10;
        background: url("/assets/img/ui/triangleshadow.png") no-repeat 0px -4px;
      }
    }
    .breadcrumb--separator{
      background: url('/assets/img/ui/breadcrumb_arrow.png') no-repeat center;
      height: 44px;
    }
  }
}

.orderform--wrap{
  margin-top:70px;
  .orderform--price{
    padding: 45px 0 44px;
    @include gradient(#767676, #505050);
    .price--label{
      font-size: 24px;
      color: $white;
    }
    .price--int{
      font-size: 30px;
      color: #f7ca00;
    }
  }
  .orderform--price span{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
  }
}
.order--widget_separator{
  background: url('/assets/img/ui/widget-separator.png') no-repeat center;
  height: 100px;
  margin-top:80px;
}

.sucess_message{
  text-align: center;
  margin: 30px 0 0;
  p{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 20px;
  }
}
.sucess-bill{
  text-align: center;
  .sucess-bill--text{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 15px;
  }
  .sucess-bill--pay{
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#ffcc00;
    font-size: 35px;
    line-height: 10px;
  }
}
.sucess_txt{
  text-align: center;
  margin: 30px 0 10px;
  p{
    display: inline-block;
    border: 2px solid #ffcc00;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color: #ffcc00;
  }
}
.unauth_comment{
  text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 14px;
    text-align: center;
}
.orderForm_note{
  text-transform: uppercase;
    font-family: 'pf_handbook_proregular';
    color:#a7a7a7;
    font-size: 14px;
    text-align: center;
}
.additional_options{
  .additional_options--checkbox{
    background: #f1f1f1;
    border: 2px solid #dedede;
    border-top: none;
    padding: 5px 20px 0px;
    cursor: pointer;
    .chkb_input-label{
      font-family: 'open_sansregular';
      text-transform: uppercase;
      cursor: pointer;
      color: #9a9a9a;
      font-size: 12px;
    }
  }
}

.chkb_input{
  display: none;
}
.additional_options--checkbox input[type="checkbox"] + label .checkbox_check {
  display: block;
  float: left;
  margin-top: 3px;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  background: #fff;
  @include rounded_corners(5px);
  width: 15px;
  height: 15px;
  border: 2px solid #ffcc00;
}

.additional_options--checkbox input[type="checkbox"]:checked + label .checkbox_check {
-webkit-box-shadow: inset 0 0 0px 0 rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0px 0 rgba(0, 0, 0, 0);
background: white url("/assets/img/ui/check_dot.png") no-repeat center;
}

.orders--add{
  ul{
    margin:0;
    padding: 0;
    li:nth-child(2n).active{
      @include gradient(#ffcc00, #ff9900);
    }
    .active.addorder{
      font-size: 18px;
      padding: 15px 14px 14px;
      line-height: 20px;
    }
    .active{
        @include gradient(#ffcc00, #ff9900);
      }
    li{
      display: block;
      float: left;

      @include gradient(#767676, #505050);
      a{
        padding: 9px 31px 17px;
        color:$white;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family:'pf_handbook_promedium';
        font-size: 15px;
      }
      &:nth-child(2n) {
        @include gradient(#838383, #585858);
      }
    }
  }
}

.orders--table{
  margin: 30px 0 0;
  table{
    thead{
      tr{
        @include gradient(#767676, #505050);
        td{
          position: relative;
          border: none;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
          font-family:'pf_handbook_promedium';
          font-size: 15px;
          color: $white;
          padding: 5px 0 13px;
        }
        .td--active_woarrow{
          @include gradient(#ffcc00, #ff9900);
        }
        .td--active,td:nth-child(2n).td--active{
          @include gradient(#ffcc00, #ff9900);
          &:after{
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -10px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 8px 10px 0 10px;
            border-color: #ff9900 transparent transparent transparent;
            bottom: -8px;
          }
        }
        td:nth-child(2n) {
          @include gradient(#838383, #585858);
        }
      }
    }
    tbody{
      tr{
        td{

        }
      }
    }
  }
}
.statusorder{
  margin: 20px 0;
}

.modal-dialog.modal-Orders{
  width: 80%;
}
.orders--table.orders--modal{
  margin: 0;
}
.orders--modal{
  .table{
    margin: 0;
  }
  .table-bordered{
    border: none;
  }
}
.slideitem--wrap.slideitem--orders{
  border:none !important;
  padding:0 !important;
}
.modalOrders-footer{
  background: #ebebeb;
}
.orders_textarea{
    textarea{
      @include rounded_corners(3px);
      resize: none;
      border:2px solid #ffcc00;
      color: $grey;
      -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
    }
}

.stat-item{
  margin: 10px 0 5px;
  div{
    .stat-item--img{
      img{width: 100%;} //remove on production
      .gradient-border{
        display: block;
        width: 100%;
        height: 7px;
        @include gradient(#ffcc00, #ff9900);
      }
    }
    .stat-item--descr{
      border: 2px solid #e6e6e6;
      div{
        .name--descr{
          background: $white;
          padding: 15px;
          h3{
          font-family: 'open_sansregular';
          text-transform: uppercase;
          color:#7b7b7b;
          font-size: 16px;
          margin: 0 0 10px;
          line-height: 24px;
          span{
            font-family:'open_sansbold';
          }
        }
        .rating{
          background: url('/assets/img/icons/stars.png') no-repeat left;
          height: 12px;
          margin: 5px 0 10px;
        }
        .worktime{
          border: 2px solid #ffcc00;
          display: inline-block;
          margin: 5px 0 10px;
          p{
            padding: 5px;
            margin: 0;
            color: #ff9c00;
          }
        }
        }
        .text--descr{
          padding: 14px;
          background: #f6f6f6;
        }
      }
    }

  }

}

.paging{
  .pagination{
    li a{
      font-weight: bold;
      border: 1px solid #d4d4d4;
      margin: 5px;
      background: $white;
      color: #9c9c9c;
      &:hover{
        color: $white;
        background: #898989;
        border:1px solid #898989;
      }
    }
    li:first-child>a{
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
    li:last-child>a {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    }
    .active--page a{
      background: #ffd200;
      color: $white;
      font-weight: bold;
      border:1px solid #ffd200;
    }
  }
}