.btn.btn-search{
  height:24px;
  padding: 0 12px;
  -moz-border-radius:0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  @include gradient(#ffcc00, #ff9900);
}

.btn.btn-search--big{
  height:36px;
  padding: 6px 20px;
  -moz-border-radius:0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  @include gradient(#ffcc00, #ff9900);
  color:#fff !important;
  font-size: 17px;
  font-family: 'pf_handbook_proregular';
  text-transform: uppercase;
  &:hover{
    color:#fff;
  }
}

.btn-login{
  padding: 6px 60px;
  @include gradient(#ffcc00, #ff9900);
  color:#fff !important;
  font-size: 20px;
  font-family: 'pf_handbook_proregular';
  text-transform: uppercase;
  border:none;
  &:hover{
    color:#fff;
  }
}
.btn-fullwidth{
  width:100%;
}

.btn-reservation{
  @include gradient(#ffcc00, #ff9900);
  color:#fff;
  border:none;
  padding: 40px 15px 15px;
  &:active{
    @include gradient(#ff9900, #ffcc00);
  }
  .btn-title{
    font-size: 24px;
    font-family:'pf_handbook_promedium';
    text-transform: uppercase;
  }
  .btn-descr{
    font-size: 9px;
    display: block;
    margin: 10px 0 0;
    text-transform: uppercase;
    font-family: 'open_sansregular';
  }
}

.btn-acceptChange{
  @include gradient(#ffcc00, #ff9900);
  color:#fff;
  border:none;
  padding: 15px 15px 25px;
  font-size: 24px;
  margin: 20px 0 0;
  font-family:'pf_handbook_promedium';
  text-transform: uppercase;
  &:active{
    @include gradient(#ff9900, #ffcc00);
  }
}