* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}

body {
  font:300 13px/1.6 'open_sansregular', Helvetica, Arial;
  background:#fff;
  color:#444;
}
