.icon-phone{
  width: 23px;
  height: 23px;
  display: block;
  float: left;
  margin-right: 15px;
  background: url('/assets/img/icons/icon-phone.png') no-repeat center;
}

.icon-car{
  width: 19px;
  height: 19px;
  display: block;
  float: left;
  margin-right: 5px;
}

.car--grey{
  background: url('/assets/img/icons/car-grey.png') no-repeat center;
}

.car--blue{
  background: url('/assets/img/icons/car-blue.png') no-repeat center;
}

.car--red{
  background: url('/assets/img/icons/car-red.png') no-repeat center;
}

.car--yellow{
  background: url('/assets/img/icons/car-yellow.png') no-repeat center;
}

.icon-map{
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 15px;
  background: url('/assets/img/icons/icon-map.png') no-repeat center;
}

.icon-pointer{
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 25;
}

.pointer_active{
  width: 56px;
  height: 58px;
  background: url('/assets/img/icons/pointer_big.png') no-repeat center;
}

.pointer_nonactive{
  width: 39px;
  height: 41px;
  background: url('/assets/img/icons/pointer_small.png') no-repeat center;
}

.slideset_rigth--arrow{
  width: 18px;
  height: 56px;
  display: block;
  top: 30%;
  position: absolute;
  background: url('/assets/img/slideset_right.png') no-repeat center;
}

.slideset_left--arrow{
  width: 18px;
  height: 56px;
  display: block;
  top: 30%;
  right:0;
  position: absolute;
  background: url('/assets/img/slideset_left.png') no-repeat center;
}

.icon-social{
  display: block;
  width: 50px;
  float: left;
  height: 50px;
  margin: 2px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.icon-vk{
  background: url('/assets/img/icons/vk.png') no-repeat center;
  &:hover{
    background: url('/assets/img/icons/hover-vk.png') no-repeat center;
  }
}
.icon-fb{
  background: url('/assets/img/icons/fb.png') no-repeat center;
  &:hover{
    background: url('/assets/img/icons/hover-fb.png') no-repeat center;
  }
}
.icon-twitter{
  background: url('/assets/img/icons/twitter.png') no-repeat center;
  &:hover{
    background: url('/assets/img/icons/hover-twitter.png') no-repeat center;
  }
}
.icon-insta{
  background: url('/assets/img/icons/insta.png') no-repeat center;
  &:hover{
    background: url('/assets/img/icons/hover-insta.png') no-repeat center;
  }
}

.icon-lock{
  margin: 0 auto;
  display: block;
  width: 39px;
  height: 53px;
  background: url('/assets/img/icons/icon-lock.png') no-repeat center;
}
.icon-thumbsup{
  margin: 0 auto;
  display: block;
  width: 56px;
  height: 57px;
  background: url('/assets/img/icons/icon-thumbsup.png') no-repeat center;
}
.icon-add{
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -15px;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background: url('/assets/img/icons/icon-add.png') no-repeat center;
}

.icon-gradient{
  @include gradient(#ffcc00, #ff9900);
  float: left;
  padding: 11px 10px;
  margin-top: -5px;
  .widget-car-icon{
    background: url('/assets/img/icons/widget-car-icon.jpg') no-repeat center;
    width: 22px;
    height: 15px;
    display: block;


  }
}

.icon-checksucess{
  background: url('/assets/img/icons/icon-checksucess.png') no-repeat center;
  width: 77px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.dd-arrow{
  background: url('/assets/img/icons/dd-arrow.png') no-repeat center;
  width: 21px;
  height: 9px;
  display: block;
  margin: 11px 20px 0;
}

.icon-mobile-phone{
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 15px;
  background: url('/assets/img/mobile/icon-mobile-phone.png') no-repeat center;
}