@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'open_sanssemibold';
  src:url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
  src:url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'open_sansbold';
  src:url('../fonts/opensans/OpenSans-Bold-webfont.eot');
  src:url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family: 'pf_handbook_promedium';
  src: url('../fonts/pfhandbook/pfhandbookpro-medium-webfont.eot');
  src: url('../fonts/pfhandbook/pfhandbookpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pfhandbook/pfhandbookpro-medium-webfont.woff') format('woff'),
       url('../fonts/pfhandbook/pfhandbookpro-medium-webfont.ttf') format('truetype'),
       url('../fonts/pfhandbook/pfhandbookpro-medium-webfont.svg#pf_handbook_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_handbook_proregular';
  src: url('../fonts/pfhandbook/pfhandbookpro-regular-webfont.eot');
  src: url('../fonts/pfhandbook/pfhandbookpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pfhandbook/pfhandbookpro-regular-webfont.woff') format('woff'),
       url('../fonts/pfhandbook/pfhandbookpro-regular-webfont.ttf') format('truetype'),
       url('../fonts/pfhandbook/pfhandbookpro-regular-webfont.svg#pf_handbook_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}